<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonheader">
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
</head>
<body>

<div class="common_header" th:fragment="common_header">

    <!-- 头部信息 -->
    <div class="header_con">
        <div class="header">
            <div class="user_login">
                <a th:href="@{/login}">登录</a>
                <span>|</span>
                <a th:href="@{/register}">注册</a>
            </div>
        </div>
    </div><br /><br />
    <!-- 导航栏 -->
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>bupt 二手车</h1>
            </div>
            <ul class="navlist fl">
                <li><a th:href="@{/car}">全部二手车</a></li>
                <li><a th:href="@{/mycar}">我要卖车</a></li>
                <li><a th:href="@{/favorite}">我的收藏</a></li>
                <li><a th:href="@{/reserve}">我的预约</a></li>
                <li><a th:href="@{/payment}">我的订单</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>