<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bupt.buptcar.dao.CarMapper">

    <select id="getCarList" resultType="com.bupt.buptcar.pojo.Car" parameterType="com.bupt.buptcar.pojo.Car">
        select carID, brand, seriesName, region, price, regDate, mkm, img
        from series, car
        <where>
            series.seriesID = car.seriesID
            and isSaled = false
            <if test="car.region!=null and car.region.trim()!=&quot;&quot;">
                and  region=#{car.region}
            </if>
               <if test="car.lowPrice!=null">
                and  price &gt;= #{car.lowPrice}
            </if>
            <if test="car.highPrice!=null">
                and  price &lt;= #{car.highPrice}
            </if>
            <if test="car.brand!=null and car.brand.trim()!=&quot;&quot;">
                and  brand=#{car.brand}
            </if>
            <if test="car.seriesName!=null and car.seriesName.trim()!=&quot;&quot;">
                and  seriesName=#{car.seriesName}
            </if>
            <if test="car.bodyType!=null and car.bodyType.trim()!=&quot;&quot;">
                and bodyType=#{car.bodyType}
            </if>
            <if test="car.age!=null">
                and YEAR(NOW()) - YEAR(regDate) &lt;= #{car.age}
            </if>
            <if test="car.gearbox!=null and car.gearbox.trim()!=&quot;&quot;">
                and gearbox=#{car.gearbox}
            </if>
            <if test="car.mkm!=null">
                and mkm &lt;= #{car.mkm}
            </if>
            <if test="car.nation!=null and car.nation.trim()!=&quot;&quot;">
                and nation=#{car.nation}
            </if>
            <if test="car.fuelType!=null and car.fuelType.trim()!=&quot;&quot;">
                and fuelType=#{car.fuelType}
            </if>
        </where>
        limit #{pageIndex}, #{pageSize}
    </select>

    <select id="getById" resultType="com.bupt.buptcar.pojo.Car" parameterType="integer">
        select carID, salerID, region, price, regDate, gearbox, mkm, img, description,
          brand, seriesName, nation, bodyType, fuelType, seatNum, isSaled
        from series, car
        <where>
            series.seriesID = car.seriesID
            and carID = #{carID}
        </where>
    </select>

    <select id="getBySalerID" resultType="com.bupt.buptcar.pojo.Car" parameterType="integer">
        select carID, brand, seriesName,price,  regDate, gearbox, mkm, img
        from series, car
        <where>
            series.seriesID = car.seriesID
            and salerID = #{salerID}
        </where>
    </select>

    <delete id="deleteByID" parameterType="integer">
        delete from car
        <where>
            carID = #{carID}
        </where>
    </delete>

    <insert id="addCar" parameterType="com.bupt.buptcar.pojo.Car"
            useGeneratedKeys="true" keyProperty="carID">
        insert into car(seriesID, salerID, region, addr, isSaled, price, regDate, gearbox, mkm, description, gmt_create)
        values (#{seriesID}, #{salerID}, #{region}, #{addr},false,  #{price}, #{regDate}, #{gearbox}, #{mkm}, #{description},  NOW())
    </insert>

    <select id="getSalerIDByCarID" resultType="integer" parameterType="integer">
        select salerID from car
        <where>
            carID = #{carID}
        </where>
    </select>

    <select id="getAddrByCarID" resultType="string" parameterType="integer">
        select CONCAT(region, ' ', addr) addr
        from car
        <where>
            carID = #{carID}
        </where>
    </select>

    <select id="getDescByCarID" resultType="string" parameterType="integer">
        select CONCAT(series.brand, ' ', series.seriesName)
        from car, series
        <where>
            carID = #{carID}
            and car.seriesID = series.seriesID
        </where>
    </select>

    <select id="getPriceByCarID" resultType="double" parameterType="integer">
        select price
        from car
        <where> carID = #{carID} </where>
    </select>

    <update id="setSaledByCarID" parameterType="integer">
        update car
        <set>isSaled = true</set>
        <where>carID = #{carID}</where>
    </update>
</mapper>