<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bupt.buptcar.dao.PaymentMapper">

    <insert id="addPayment" parameterType="com.bupt.buptcar.pojo.Payment">
        insert into payment(carID, buyerID, salerID, total_fee, gmt_create)
        values (#{carID}, #{buyerID}, #{salerID}, #{total_fee}, NOW())
    </insert>

    <select id="isPayment" parameterType="integer" resultType="boolean">
        SELECT IFNULL((SELECT 1 FROM payment
        <where>
            buyerID = #{buyerID} and carID = #{carID} and state != 4
        </where> LIMIT 1), 0)
    </select>

    <select id="getByBuyerID" resultType="com.bupt.buptcar.pojo.Payment" parameterType="integer">
        SELECT paymentID, payment.carID carID, state, total_fee, gmt_pay, pay_type, CONCAT(region, ' ', car.addr) addr, img imgURL,
        CONCAT(brand, ' ', seriesName) carDesc, user.userMobile salerMobile
        FROM payment,car,series,user
        <where>
            payment.buyerID = #{buyerID}
            AND payment.carID = car.carID
            AND car.seriesID = series.seriesID
            AND car.salerID = user.userID
        </where>
    </select>

    <select id="getBySalerID" resultType="com.bupt.buptcar.pojo.Payment" parameterType="integer">
        SELECT paymentID, payment.carID carID, state, total_fee, gmt_pay, CONCAT(region, ' ', car.addr) addr, img imgURL,
        CONCAT(brand, ' ', seriesName) carDesc, user.userMobile buyerMobile
        FROM payment,car,series,user
        <where>
            payment.salerID = #{salerID}
            AND payment.carID = car.carID
            AND car.seriesID = series.seriesID
            AND payment.buyerID = user.userID
        </where>
    </select>

    <update id="setStateByPaymentID" parameterType="integer">
        UPDATE payment
        <set>state = #{state}</set>
        <where>paymentID = #{paymentID}</where>
    </update>

    <update id="setPayTimeByPaymentID" parameterType="integer">
        UPDATE payment
        <set>gmt_pay = NOW()</set>
        <where>paymentID = #{paymentID}</where>
    </update>

    <select id="getCarIDByPaymentID" parameterType="integer" resultType="integer">
        SELECT carID from payment
        <where>paymentID = #{paymentID}</where>
    </select>

    <update id="setCancelByCarID" parameterType="integer">
        UPDATE payment
        <set>state  = 4</set>
        <where>
            carID = #{carID}
            and state != 3
            and state != 2
        </where>
    </update>
</mapper>