<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bupt.buptcar.dao.UserMapper">
    <select id="getUserByMsg" resultType="com.bupt.buptcar.pojo.User" parameterType="com.bupt.buptcar.pojo.User">
        select userID, userName, userPassword
        from user
        <where>
            userName = #{userName}
            and userPassword = #{userPassword}
        </where>
    </select>

    <select id="hasUserName" parameterType="string" resultType="boolean">
        SELECT IFNULL((SELECT 1 FROM `user`
        <where>
            userName = #{userName}
        </where> LIMIT 1), 0)
    </select>

    <insert id="addUser" parameterType="com.bupt.buptcar.pojo.User">
        insert into `user`
        values (NULL, #{userName}, #{userPassword}, #{userMobile}, NOW());
    </insert>
</mapper>